@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
/* font-family: "Nanum Myeongjo", serif; */
/* Regular 400 */
/* Bold 700 */
/* ExtraBold 800 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");
/* font-family: "Noto Serif KR", serif; */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* font-family: "Nanum Pen Script", cursive; */
/* font-weight: 400; */

@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
/* font-family: "Ephesis", cursive; */
/* font-weight: 400; */

body {
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Serif KR", serif;
  color: #333333;
}
.guideline,
.preparation,
.intro {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  /* background: rgb(175, 175, 175); */
}
.wrep {
  width: 100%;
  margin: 0 auto;
  border: 2px solid white;
}
.main,
section,
.intro {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}
section {
  width: 100%;
  max-width: 620px;
  /* height: 50vh; */
  /* background: pink; */
}
/* section:nth-child(even) {
  background: darkcyan;
} */

/* 인트로 사이트 */
/* .intro {
  width: 100vw;
  max-width: 620px;
  height: 100vh;
  background: url("../img/intro_bg.png") no-repeat center center;
  background-size: cover;

  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -1.1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.intro .top_title {
  width: 100%;
  text-align: center;
  margin-top: 52px;
}
.intro .top_title span {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  color: #4e3b3a;
  text-align: center;
  display: block;
}
.intro .top_title h2 {
  font-size: 38px;
  font-weight: 600;
  color: #4e3b3a;
  margin-top: 32px;
}

.intro img.ribbon {
  width: 100%;
}

.intro h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  color: #4e3b3a;
  text-align: center;
}
.intro h3 strong {
  font-weight: 700;
  display: block;

  margin-bottom: 52px;
} */

@media all and (min-width: 360px) and (max-width: 620px) {
  /* 카운트다운 글자 스타일 */
  #countdown {
    font-size: 10vw;
  }
  /* 인트로 사이트 */
  .intro {
  }
  .intro .top_title {
    margin-top: 12vw;
  }
  .intro .top_title span {
    font-size: 5vw;
  }
  .intro .top_title h2 {
    font-size: 9vw;
  }
  .intro img.ribbon {
  }
  .intro h3 {
    font-size: 5vw;
  }
  .intro h3 strong {
    font-weight: 700;
    margin-bottom: 12vw;
  }
}

/* ============================================================= */
/* visual */
.visual {
  height: 1300px;
  background: url("../img/visual_bg.png") no-repeat center bottom;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.visual .title {
  text-align: center;
  margin-top: 62px;
}
.visual .title strong {
  font-size: 30px;
  font-weight: 600;
}
.visual .title h2 {
  font-size: 100px;
  font-weight: 300;
  color: #cd3a7d;
  font-family: "Ephesis", cursive;
  margin: 4px 0 26px;
}
.visual .title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}
.visual .title p span {
  font-weight: 600;
  display: block;
}

/* 카운트다운 글자 스타일 */
.countdown-wrap {
  text-align: center;
  color: #fff;
  margin-bottom: 62px;
}
.countdown-wrap .title {
  font-size: 22px;
  margin-bottom: 32px;
  opacity: 1;
}
.countdown-wrap .time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.countdown-wrap .time span {
  font-size: 52px;
  font-weight: 300;
  display: block;
}

.countdown-wrap .time p {
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.7;
}
.countdown-wrap .colon {
  font-size: 40px;
  font-weight: 200;
  margin: -20px 5px 0;
}
@media all and (min-width: 360px) and (max-width: 620px) {
  .visual {
    height: 100vh;
  }
  .visual .title {
    margin-top: 10vw;
  }
  .visual .title strong {
    font-size: 5vw;
  }
  .visual .title h2 {
    font-size: 16vw;
    margin: 2vw 0 4vw;
  }
  .visual .title p {
    font-size: 3.6vw;
    line-height: 1.4;
  }
  .visual .title p span {
  }

  .countdown-wrap {
    margin-bottom: 10vw;
  }
  .countdown-wrap .title {
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .countdown-wrap .time-box {
    gap: 2vw;
  }
  .countdown-wrap .time span {
    font-size: 8vw;
  }

  .countdown-wrap .time p {
    font-size: 3.5vw;
    margin-top: 1.2vw;
  }
  .countdown-wrap .colon {
    font-size: 7vw;
    margin: -4.55vw 1.2vw 0;
  }
}

/* greeting */
.greeting {
  background: #fff1f7;
  padding: 120px 0;
}
.greeting .title {
  text-align: center;
}
.greeting .title .fa {
  font-size: 34px;
  color: #cd3a7d;
}
.greeting .title h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 32px 0 36px;
}
.greeting .title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.greeting .title p span {
  display: block;
}
.greeting .title p span:last-child {
  margin-top: 20px;
}

.greeting_line {
  width: 6.5%;
  height: 1.5px;
  background: #333333;
  display: block;
  margin: 52px auto;
}

.greeting .title02 {
  text-align: center;
}
.greeting .title02 .dammy {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greeting .title02 .dammy:first-child {
  margin-bottom: 18px;
}
.greeting .title02 .dammy h3 {
  font-size: 22px;
  font-weight: 500;
}
.greeting .title02 .dammy h3 span {
  font-size: 18px;
  font-weight: 500;
}
.greeting .title02 .dammy span {
  font-size: 18px;
  font-weight: 500;
}
.greeting .title02 .dammy strong {
  font-size: 28px;
  font-weight: 600;
}

.all_btn {
  width: 66%;
  padding: 20px 0;
  margin: 52px auto 0;
  border: 2px solid #333333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.all_btn .fa {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  transform: translateY(0.5vw);
}
.all_btn span {
  font-size: 20px;
  font-weight: 600;
}
@media all and (min-width: 360px) and (max-width: 620px) {
  .greeting {
    padding: 20vw 0;
  }
  .greeting .title {
  }
  .greeting .title .fa {
    font-size: 7vw;
  }
  .greeting .title h2 {
    font-size: 6vw;
    margin: 5.5vw 0 7vw;
  }
  .greeting .title p {
    font-size: 4vw;
  }
  .greeting .title p span {
  }
  .greeting .title p span:last-child {
    margin-top: 4vw;
  }

  .greeting_line {
    width: 6.5%;
    margin: 8vw auto;
  }

  .greeting .title02 {
  }
  .greeting .title02 .dammy {
    width: 60%;
  }
  .greeting .title02 .dammy:first-child {
    margin-bottom: 18px;
  }
  .greeting .title02 .dammy h3 {
    font-size: 4vw;
  }
  .greeting .title02 .dammy h3 span {
    font-size: 3.5vw;
  }
  .greeting .title02 .dammy span {
    font-size: 3.5vw;
  }
  .greeting .title02 .dammy strong {
    font-size: 5vw;
  }
}

/* calendar */
.calendar {
  padding: 120px 0;
  background: #fffafc;
}
.calendar .title {
  text-align: center;
}
.calendar .title h2 {
  font-size: 36px;
  font-weight: 500;
}
.calendar .title img {
  width: 85%;
  margin: 52px auto 32px;
  display: block;
}
.calendar .title p {
  font-size: 20px;
  font-weight: 500;
}
.calendar .title p strong {
  font-size: 22px;
  font-weight: 800;
  margin-top: 16px;
  display: block;
}

.calendar_wrap {
  width: 86%;
  margin: 7vw auto;
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  position: relative;
  padding: 3vw 0;
}
.calendar_wrap ul {
  /* width: 95%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar_wrap ul li {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */

  font-size: 20px;
  font-weight: 700;
}
.calendar_wrap ul li.red {
  color: #a92020;
}
.calendar_wrap ul li.dday {
  color: #fff;
  position: relative;
  background: url("../img/calendar_h.svg") no-repeat center center;
  background-size: cover;
}

@media all and (min-width: 360px) and (max-width: 620px) {
  .calendar {
    padding: 20vw 0;
  }
  .calendar .title {
  }
  .calendar .title h2 {
    font-size: 6vw;
  }
  /* .calendar .title img {
    width: 90%;
    margin: 7vw auto 5vw;
  } */
  .calendar .title p {
    font-size: 3.5vw;
    line-height: 1.5;
  }
  .calendar .title p strong {
    display: block;
  }
  .calendar .title p {
    font-size: 4vw;
  }
  .calendar .title p strong {
    font-size: 4.5vw;
    margin-top: 1vw;
  }
  .calendar_wrap ul li {
    width: 11vw;
    height: 11vw;
    font-size: 3.4vw;
  }
}

/* introduction */
.introduction {
  background: #fff1f7;
  padding: 120px 0;
}
.introduction .title {
  text-align: center;
}
.introduction .title .fa {
  font-size: 34px;
  color: #cd3a7d;
}
.introduction .title h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 32px 0 36px;
}

.introduction .desc {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introduction .desc .item {
  text-align: center;
}
.introduction .desc .item .img_bg {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid black;
}
.introduction .desc .item .txt {
  color: #333333;
}
.introduction .desc .item .txt h3 {
  font-size: 26px;
  font-weight: 600;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction .desc .item .txt h3 span {
  font-size: 16px;
  display: block;
  margin-right: 8px;
  margin-bottom: -1px;
  color: #3a56cd;
}
.introduction .desc .item.item02 .txt h3 span {
  color: #cd3a7d;
}
.introduction .desc .item .txt p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
@media all and (min-width: 360px) and (max-width: 620px) {
  .introduction {
    padding: 20vw 0;
  }
  .introduction .title {
  }
  .introduction .title .fa {
    font-size: 7vw;
  }
  .introduction .title h2 {
    font-size: 6vw;
    margin: 5.5vw 0 7vw;
  }

  .introduction .desc {
    width: 86%;
  }
  .introduction .desc .item {
  }
  .introduction .desc .item .img_bg {
    width: 40vw;
    height: 40vw;
    border-radius: 20px;
    border: 1px solid black;
  }
  .introduction .desc .item .txt {
    color: #333333;
  }
  .introduction .desc .item .txt h3 {
    font-size: 5vw;

    margin: 20px 0;
  }
  .introduction .desc .item .txt h3 span {
    font-size: 3vw;
  }
  .introduction .desc .item.item02 .txt h3 span {
    color: #cd3a7d;
  }
  .introduction .desc .item .txt p {
    font-size: 3.5vw;
  }
}

/* gallery */
.gallery {
  background: #fff;
  padding: 120px 0;
}
.gallery .title {
  text-align: center;
}
.gallery .title .fa {
  font-size: 34px;
  color: #cd3a7d;
}
.gallery .title h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 32px 0 36px;
}
.gallery .desc {
  width: 86%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.gallery .desc .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery .desc .items.items02 {
  margin: 2vw 0;
}
.gallery .desc .items .item {
  width: 26.6vw;
  height: 26.6vw;
  background: #cd3a7d;
}
.gallery .desc .items .item.item01 {
}
.gallery .desc .items .item.item02 {
}
.gallery .desc .items .item.item03 {
}
.gallery .desc .items .item.item04 {
}
.gallery .desc .items .item.item05 {
}
.gallery .desc .items .item.item06 {
}
.gallery .desc .items .item.item07 {
}
.gallery .desc .items .item.item08 {
}
.gallery .desc .items .item.item09 {
}

@media all and (min-width: 360px) and (max-width: 620px) {
  .gallery {
    padding: 20vw 0;
  }
  .gallery .title {
  }
  .gallery .title .fa {
    font-size: 7vw;
  }
  .gallery .title h2 {
    font-size: 6vw;
    margin: 5.5vw 0 7vw;
  }
}

/* account */
.account {
  background: #fff1f7;
  padding: 120px 0;
}
.account .title {
  text-align: center;
}
.account .title .fa {
  font-size: 34px;
  color: #cd3a7d;
}
.account .title h2 {
  font-size: 34px;
  font-weight: 600;
  margin: 32px 0 36px;
}
.account .title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.account_wrap {
  width: 70%;
  margin: 0 auto;
}
.account_wrap.account_wrap01 {
  margin: 10vw auto 3vw;
}

.account_wrap .account-btn {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  background: #3a56cd;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}
.account_wrap.account_wrap02 .account-btn {
  background: #cd3a7d;
}

.account_wrap .account-content {
  overflow: hidden;
  max-height: 0;
  background: rgba(58, 86, 205, 0.2);
  border-radius: 8px;
  transition: max-height 0.4s ease;
}
.account_wrap.account_wrap02 .account-content {
  background: rgba(205, 58, 125, 0.2);
}

.account_wrap .account-inner {
  /* padding: 5px 15px 25px; */
}
.account_wrap .account-inner .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.account_wrap .account-inner .txt.txt02 {
  /* margin: 25px 12px; */
}
.account_wrap .account-inner .txt span {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2;
}
.account_wrap .account-inner .txt button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: none;
  border: 1px solid #333;
}
.account_wrap .account-inner .txt button .fa {
}

@media all and (min-width: 360px) and (max-width: 620px) {
  .account {
    padding: 20vw 0;
  }
  .account .title {
  }
  .account .title .fa {
    font-size: 7vw;
  }
  .account .title h2 {
    font-size: 6vw;
    margin: 5.5vw 0 7vw;
  }
  .account .title p {
    font-size: 4vw;
  }
}

/* ================================================================ */

@media all and (min-width: 360px) and (max-width: 620px) {
  .all_btn {
    width: 70%;
    padding: 3vw 0;
    margin: 8vw auto 5vw;
  }
  .all_btn .fa {
    font-size: 3.5vw;
    margin-right: 2vw;
    transform: translateY(0.5vw);
  }
  .all_btn span {
    font-size: 3.5vw;
    font-weight: 600;
  }
}
